* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}
.title, .title-inv {
	margin: 5px 0px 5px 5px;
	font-size: 25px;
}
.title-inv {
	color: white;
	background: black;
}
#txt {
	height: 25%;
}
.header {
	width: 100%;
}
table {
	border-collapse: collapse;
}
input {
	width: 3em;
	font-family: monospace, monospace;
}
th {
	font-weight: normal;
	padding: 5px;
	color: white;
	background: black;
	border: 1px solid white;
}
td {
	padding: 4px;
	border: 1px solid gray;
}
textarea {
	width: 100%;
	resize: vertical;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}